body {
  font-family: "Signika", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.75);
}
nav {
    background: #40596b;
    font-size: 1.25em;
    background-size: cover;
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
}
nav a {
    display: inline-block;
    padding: 18px 6px;
    color: #ffd05a;
    text-decoration: none;
    text-align: center;
}
.header{
  background-color: #55c0ec;
  justify-content: center;
  min-height: calc(100vh - 12rem);  
  text-align: center;
}

.phrase {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 125px;
  padding-left: 25px;
  margin-bottom: 20px;
}

.about {
  display: flex;
  height: 300px;
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 20px;
}
#slack-icon {
  width: 2.5rem;
  margin: 0 1rem 0 0;
  padding: 0;
  transition: transform .3s ease-in-out;
  }
.tickyimg {
 display: block;
  max-width: 100%;
  height: auto; 
  margin-right: 145px;
  padding-right: 145px;
}
.features {
  height: 700px;
  background-color: #90ddaa;
}

#features {
  background: #90DDAA;
  min-height: 300px;
  perspective: 1300px;
}

.card{
  background-color: #40596b;
  align-items: center;
  border: 0;
  border-radius: 4px;
  font-size: 1.25em;
  margin-bottom: 3em;
  width: 22%
  min-width: 340px;
  max-width: 340px;
}
.card a {
  text-decoration: underline;
} 
.card-left {
  margin-right: 1.5em;
}
.card-right {
  margin-left: 1.5em;
}
.card-body {
  background: white;
}
.card-image-top {
  width: 224px;
  margin: 4rem 0;
}
.addslack {
  padding: 1rem;
  min-height: auto;
}
h3 {
  text-align: center;
  align-content: center;
}
.slack-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  font-size: 1.25rem;
}
#last-button {
  background-color: #40596b;
  margin: 5rem auto;
}
#last-button span {
  color: hsla(0,0%,100%,.9);
}
footer {
  background-color: #40596b;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ffd05a;
  border-radius: 4px;
  padding: 1rem;
}
#final-image {
  width: 2rem;
}
